@charset "utf-8";
/* CSS Document */


/*	請將first 裡的 jumbotron class 的高度設定為 50vh。*/
#first .jumbotron{
	

	height: 70vh;
	
}


/*	請將first 裡的 h1 標籤的文字顏色為 brown。*/
#first h1{

	/* C-6 */
	color: brown;
}

#introfirst img
{
	
	/* D-5 */
	width: 300px
}

#intrisecond a{
	
	text-decoration: none;
	color: chocolate;
}

#introsecond{
	
	pedding-top: 100px;
	pedding-bottom: 50px;
	
}
#location{
	padding-top: 50px;
	padding-left: 30px;
}
#QAsecond{
	padding-top: 50px;
	padding-left: 30px;
}

